body{
    background-color: white;
}
.calculator{
    background-color: black;
    border-radius: 10px;
    border: solid 2px black;
    margin: auto;
    max-width: 400px;
    text-align: center;
}
.title{
    color: orange;
    text-align: center;
}
.keyPad{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}
.ecran{
    background-color: black;
    width: 95%;
    height: 70px;
    margin: auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.operationButtons{
    margin-top: 2%;
    font-size: 3rem;
    width: 25%;
    border-radius: 10px;
}
.buttons{
    margin-top: 2%;
    font-size: 3rem ;
    border-radius: 10px;
    width: 30%;
}
.equalButton{
    font-size: 4rem;
    width:100%;  
    border-radius: 0 0 10px 10px;
}
button:hover{
    color: orange;
}